---
---

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.65;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
    Structure
   ========================================================================== */

$white: #fff;
$blue_gray: #5F6977;
$line_gray: #ccc;
$headline_gray: #4e4e4e;
$post_date_gray: #979797;
$content_dark_gray: #343434;
$content_light_gray: #6e6e6e;

.site-navigation-narrow-screen {
    margin-top: 10px;
    padding-top: 2em;
}

.header-container {
    background: $white;
    border-top: 10px solid $blue_gray;
}

.main-container {
    width: 90%;
    margin: 0 5%;
}

/* ================
    Navigation menu
   ================ */

nav {
    a {
        text-decoration: none;
        color: $headline_gray;
    }

    a:visited {
        color: lighten($headline_gray, 20%);
    }

    a:hover {
        text-decoration: underline;
        color: darken($headline_gray, 30%);
    }
}

// For narrow screens (i.e. mobiles)

header.site-navigation-narrow-screen {
    nav {
        margin: auto;
        text-align: center;
        width: 100%;

        ul li {
            display: inline;
        }

        ul {
            margin: 0;
            padding: 0;
        }

        li.nav-separator {
            color: $line_gray
        }

        a {
            padding: 0 1em;
            text-align: center;
        }
    }
}

// For wide screens (i.e. tablets, desktops)

header.site-navigation-wide-screen {
    display: none; // This is overridden later only for wide-screens
    nav {
        width: 70%;

        h3 {
            text-align: left;
            border-bottom: 1px solid $line_gray;
            margin-bottom: 0.5em;
        }

        ul li {
            display: block;
        }

        ul {
            margin: 0 0 2em 0.2em;
            padding: 0;
            text-align: right;
        }
    }
}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

.oldie nav a {
    margin: 0 0.7%;
}
/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
    margin: 0 auto 0 auto;
    width: 100%;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.site-footer-container {
    color: $white;
    background-color: $blue_gray;
    text-align: center;
    footer {
        padding: 1em 0 0.5em 0;
        font-size: 60%;
        line-height: 1.15;
        color: lighten($line_gray, 5%);
    }
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */


/* ====================
   Typography
   ==================== */

@import 'init';

@include font-face-woff('Charter', 'fonts/Charter', 'regular', normal, normal);
@include font-face-woff('Charter', 'fonts/Charter', 'bold', bold, normal);
@include font-face-woff('Charter', 'fonts/Charter', 'italic', normal, italic);
@include font-face-woff('Fira Sans', '//brick.a.ssl.fastly.net/fonts/firasans', '300', 300, normal);
@include font-face-woff('Fira Sans', '//brick.a.ssl.fastly.net/fonts/firasans', '400', 400, normal);
@include font-face-woff('Fira Sans', '//brick.a.ssl.fastly.net/fonts/firasans', '500', 500, normal);
@include font-face-woff('Source Code Pro', '//brick.a.ssl.fastly.net/fonts/sourcecodepro', '400', 400, normal);

$header_fonts: 'Fira Sans', 'Verdana', sans-serif;
$content_fonts: 'Charter', 'Georgia', serif;
$code_fonts: 'Source Code Pro', 'Courier New', monospace;

body {
    font-family: $content_fonts;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header_fonts;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
}

h1 {
    font-size: 2.2em;
    font-weight: 400;
}

h2 {
    font-size: (1 + 1 / 3.0) em;
    font-weight: 300;
}

h3 {
    font-size: (1 + 1 / 3.0) em;
    font-weight: 500;
}

h4 {
    font-size: 1.0em;
    font-weight: 300;
}

h5, h6 {
    font-size: 0.9em;
    font-weight: 300;
}

pre, code {
    font-family: $code_fonts;
}

nav {
    font-family: $header_fonts;

    ul li {
        font-size: 1.0em;
        font-weight: 400;
        line-height: 2;
    }

    h3 {
        font-size: 1.0em;
        font-weight: 300;
        text-transform: uppercase;
    }
}

footer {
    font-family: $header_fonts;
    font-weight: 300;
}


/* ====================
   Post or Page
   ==================== */

article {
    h1 {
        margin-bottom: 0.5rem;
    }
    h2 {
        margin-top: 0em;
        text-transform: uppercase;
    }
}

span.post-date {
    font-family: $header_fonts;
    font-weight: 300;
    font-size: 110%;
    color: $post_date_gray;
    margin: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 720px) {

   // Navigation menu

    header.site-navigation-wide-screen {
        display: block;
        float: left;
        margin: 2em 5% 0 0;
        width: 23%;
    }

    header.site-navigation-narrow-screen {
        display: none;
    }

   // Main

    .main {
        width: 85%;
        max-width: 48em;
    }

    .main article {
        float: left;
        margin: 1em 0 0 5%;
        width: 67%;
    }

    html {
        font-size: 112.5%;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
