<div class="shameless-plug-container">
  <div class="main-container">
    <div class="main wrapper clearfix">
      <div class="shameless-plug">
      <big>Want to do more in code?</big><br/>
      Subscribe for more on getting things done in code rather than Interface Builder.
<form action="http://roopc.createsend.com/t/i/s/tjdjuk/" method="post" id="subForm">
    <p>
        <input id="fieldEmail" name="cm-tjdjuk-tjdjuk" type="email" placeholder="your@email.com" required />
    </p>
    <p>
        <button type="submit">Subscribe</button>
    </p>
</form>
      </div>
    </div>
  </div>
</div>
