// Mixin for importing web fonts

@mixin font-face-woff($family, $local, $path, $slug, $weight, $style) {
    @font-face {
        font-family: $family;
        src: local($local), url('#{$path}/#{$slug}.woff') format('woff');
        font-weight: $weight;
        font-style: $style;
    }
}
