<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>
        {% if page.title_text %}
            {{ page.title_text }} &#8211;
        {% else %}
            {% if page.title %}{{ page.title }} &#8211; {% endif %}
        {% endif %}
        {{ site.name }}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/pygments-github-theme-mod.css">

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="/js/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->

        <link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
        <link rel="shortcut icon" href="{{ site.url }}/favicon.png">

        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml">

    </head>
    <body>

        <div class="header-container">
            <header class="site-nav">
                <nav>
                    <ul>
                        <li><a href="/{{ page.productslug }}">{{ page.productname }}</a></li>
                        <li class="nav-separator">/</li>
                        <li><a href="/{{ page.productslug }}/feedback/">Feedback</a></li>
                        <li class="nav-separator">/</li>
                        <li><a href="/{{ page.productslug }}/privacy/">Privacy</a></li>
                    </ul>
                </nav>
            </header>
        </div>

{% if page.productimage1x %}
<div class="productlogo" style="background-color: {{ page.productimagebg }};">
<img width="{{ page.productimagewidth }}" height="{{ page.productimageheight }}" 
    alt="Hide & Seek logo"
    src="{{ page.productimage1x }}"
    srcset="{{ page.productimage2x }} 2x" />
</div>
{% endif %}

        <div class="main-container">
            <div class="main wrapper clearfix">
<article>

{{ content }}

</article>
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        {% if page.categories contains 'posts' %}
            {% if page.plug contains 'all-in-code' %}
                {% include allincode-newsletter-signup.html %}
            {% else %}
                {% include shameless-plug.html %}
            {% endif %}
        {% include blog-nav.html %}
        {% endif %}

        <div class="site-footer-container">
            <footer>
                <p>Copyright &copy; 2013-{{ site.time | date: '%Y' }} Roopesh Chander.
                   This site does not track visitors.
                   Thank you for paying attention to a humble footer.</p>
            </footer>
        </div>

    </body>
</html>
