---
layout: page
---

<h2><a href="/{{ page.category }}/">{{ page.weekly-title }}</a></h2>
<h1>{{ page.title }}</h1>

<p>
  <span class="post-date">Published on <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B&nbsp;%d,&nbsp;%Y" }}</time>{% if page.modified %}, last modified on <time datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateModified">{{ page.modified | date: "%B&nbsp;%d,&nbsp;%Y" }}</time>{% endif %}</span>
</p>

{{ content }}

{% if page.postscript %}
  <div class="post-postscript">{{ page.postscript | markdownify }}</div>
{% endif %}

{% if page.readthisnext %}
  {% for post in site.categories.posts %}
    {% if post.id == page.readthisnext %}
      {% capture readthisnext_url %}{{ site.url }}{{ post.url }}{% endcapture %}
      {% capture readthisnext_title %}{{ post.title }}{% endcapture %}
    {% endif %}
  {% endfor %}
  {% if readthisnext_url %}
  <div class="post-readthisnext">
  <p>If you liked this post, you might also like:
  <a href="{{ readthisnext_url }}">{{ readthisnext_title }}</a>
  </p>
  </div>
  {% endif %}
{% endif %}
